<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="card col-md-10">
        <div class="card-body row">
            <div class="col-md-4">
                <img src=<%=info.thumbnail%> width="90%">
            </div>
            <div class="col">
                <h5><%=info.title%></h5>
                <hr>
                <div class=""mb-3>가격:<%=info.price%></div>
                <div class=""mb-3>저자:<%=info.authors%></div>
                <div class=""mb-3>출판사:<%=info.publisher%></div>
                <div class=""mb-3>ISBN:<%=info.isbn%></div>
                <div class="my-3">
                    <button class="btn btn-success px-5">장바구니</button>
                    <button class="btn btn-warning px-5">바로구매</button>
                </div>
            </div>
            <hr>
            <div><%=info.contents%></div>
            
        </div>
    </div>
</div>